/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Utilities */

:root {
  --sp-navleft-col: #000000;
  --sp-navleft-add: #a3a3a3;
  --sp-navleft-logo: #ffffff;
  --sp-litgher-color: #ffffff;
  --sp-navleft-text: #5c5c5c;
  --sp-navtop-col: #080b12;
  --sp-top-music: #141922;
  --sp-top-text: #6a6d71;
  --sp-top-navtop: #080b12;
  --sp-bottom-player: #282828;
  --sp-border-selected: #a2ef2c;
}

/* General */

.wrapper {
  overflow-y: hidden;
  height: 100vh;
  width: 100vw;

  .top {
    height: calc(100% - 80px);
    background-color: var(--sp-top-music);
    display: flex;

    .navleft {
      width: 230px;
      background-color: var(--sp-navleft-col);
      color: var(--sp-navleft-text);

      .navbar-menu{
        display: flex;
        flex-direction: column;
        gap: 25px;

      }

      .logo{
        height: 60px;
        padding: 10px 0;
        margin-bottom: 10px;
        margin-left: -30px;
        color: var(--sp-navleft-logo);
      }

      .home, .search, .library{
        height: 30px;
        vertical-align: middle;
        margin-left: 20px;
        padding: 5px 0;
      }

      .home-line{
        color: var(--sp-litgher-color);
        border-left: 3px solid var(--sp-border-selected);
      }

      span{
        vertical-align: middle;
      }

      .playlist-list{
        margin: 20px;
        
        .add-playlist{
            padding: 10px 0;
            height: 25px;
            margin-bottom: 30px;
            margin-right: 5px;
            vertical-align: middle;

            span{
                vertical-align: middle;
                height: 25px;
            }
        }
    

        .playlist-name{
            padding: 5px 0;
            list-style: none;
        }
        h3{
            color: var(--sp-litgher-color);
            text-transform: uppercase;
        }


      }

      .download{

        margin-left: 15px;
        margin-bottom: 10px;


        .download-img{
            height: 15px;
            vertical-align: middle;
        }
        
        span{
            vertical-align: middle;
            margin-left: 5px;

        }
      }

      .profile{
        border-top: 1px solid var(--sp-navleft-text);
        padding: 10px 0 10px 15px;
        
    

        .profile-img{
            height: 25px;
            vertical-align: middle;
            width: 25px;
            border-radius: 50%;
            background-color: var(--sp-navleft-text);
        }
        
        span{
            vertical-align: middle;
            margin-left: 5px;
            color: var(--sp-litgher-color);
            font-weight: bold;

        }
      }


}

    .music-selection-top {
      display: flex;
      flex-direction: column;
      width: calc(100% - 230px);
      height: calc(100% - 70px);
      color: var(--sp-navleft-logo);
      position: relative;

      .navtop {
        height: 70px;
        background-color: var(--sp-top-navtop);
        color: var(--sp-navleft-logo);
        width: 100%;
        position: sticky;
        top: 0;
        right: 0;
        padding: 10px;
      }

      .selection-list{
        display: flex;
        justify-content: center;
        align-content: flex-start;
        list-style: none;
        text-transform: uppercase;
        padding: 15px;

        li{
            margin: 0 10px;
            color: var(--sp-top-text);
            font-size: 0.7rem;
        }

        /* .evidence{
            border-bottom: 4px solid var(--sp-border-selected);
        } */

        .evidence:after{
            content: '';
            display: block;
            width: 30px;
            height: 3px;
            background: var(--sp-border-selected);
            text-align: center;
            margin-left: 20px;
            margin-top: 5px;
        }

      }
    }
  }

  .bottom {
    height: 80px;
    background-color: var(--sp-bottom-player);
  }
}

.navtop{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;

    button{
        width: 200px;
        height: 40px;
        padding: 10px;
        border-radius: 50px;
        background-color: var(--sp-top-navtop);
        color: var(--sp-litgher-color);
        border: 1px solid var(--sp-litgher-color);
        text-transform: uppercase;
    }
}
