/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Utilities */

:root {
  --sp-navleft-col: #000000;
  --sp-navleft-add: #a3a3a3;
  --sp-navleft-logo: #ffffff;
  --sp-litgher-color: #ffffff;
  --sp-navleft-text: #5c5c5c;
  --sp-navtop-col: #080b12;
  --sp-top-music: #141922;
  --sp-color-text: #6a6d71;
  --sp-top-navtop: #080b12;
  --sp-bottom-player: #282828;
  --sp-border-selected: #a2ef2c;
}

.container {
  width: 92%;
  margin: auto;
}
.recently-played {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -1rem;
}
[class^="col-"] {
  padding: 1rem;
}

.col-lg-2 {
  width: calc(100% / 12 * 2);
}

.col-lg-3 {
  width: calc(100% / 12 * 3);
}

.col-lg-6 {
  width: 50%;
}

img {
  max-width: 100%;
}

/* General */

.wrapper {
  overflow-y: hidden;
  height: 100vh;
  width: 100vw;
  font-family: Arial, Helvetica, sans-serif;

  .top {
    height: calc(100% - 80px);
    background-color: var(--sp-top-music);
    display: flex;
    overflow-y: hidden;

    .navleft {
      width: 230px;
      background-color: var(--sp-navleft-col);
      color: var(--sp-navleft-text);
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .navbar-menu {
        display: flex;
        flex-direction: column;
      }

      .logo-large {
        height: 60px;
        padding: 10px 0;
        margin-bottom: 10px;
        color: var(--sp-navleft-logo);
      }

      .logo-small {
        display: none;
        height: 60px;
        padding: 10px 0;
        margin-bottom: 10px;
      }

      .home,
      .search,
      .library {
        height: 30px;
        vertical-align: middle;
        margin-left: 20px;
        padding: 5px 0;
      }

      .home {
        margin-left: 15px;
      }
      .home-line {
        color: var(--sp-litgher-color);
        border-left: 3px solid var(--sp-border-selected);
      }

      span {
        vertical-align: middle;
      }

      .playlist-list {
        margin: 20px;

        .add-playlist {
          padding: 10px 0;
          height: 25px;
          margin-bottom: 30px;
          margin-right: 5px;
          vertical-align: middle;

          span {
            vertical-align: middle;
            height: 25px;
          }
        }

        .playlist-name {
          padding: 5px 0;
          list-style: none;
        }
        h3 {
          color: var(--sp-litgher-color);
          text-transform: uppercase;
        }
      }

      .download {
        margin-left: 15px;
        margin-bottom: 10px;

        .download-img {
          height: 15px;
          vertical-align: middle;
        }

        span {
          vertical-align: middle;
          margin-left: 5px;
        }
      }

      .profile {
        border-top: 1px solid var(--sp-navleft-text);
        padding: 10px 0 10px 15px;

        .profile-img {
          height: 25px;
          vertical-align: middle;
          width: 25px;
          border-radius: 50%;
          background-color: var(--sp-navleft-text);
        }

        span {
          vertical-align: middle;
          margin-left: 5px;
          color: var(--sp-litgher-color);
          font-weight: bold;
        }
      }

      .logo-large:hover,
      .logo-small:hover,
      .home-line:hover,
      .search-line:hover,
      .library-line:hover,
      .add-playlist:hover,
      .playlist-name:hover,
      .download-menu:hover,
      .profile:hover {
        color: var(--sp-litgher-color);
        cursor: pointer;
      }
    }

    .music-selection-top {
      display: flex;
      flex-direction: column;
      width: calc(100% - 230px);
      color: var(--sp-navleft-logo);
      position: relative;

      .navtop {
        height: 70px;
        background-color: var(--sp-top-navtop);
        color: var(--sp-navleft-logo);
        width: 100%;
        position: sticky;
        top: 0;
        right: 0;
        padding: 10px;

        .upgrade:hover {
          scale: 1.05;
          cursor: pointer;
        }
      }

      .selection-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-content: flex-start;
        list-style: none;
        text-transform: uppercase;
        padding: 15px;
        margin-bottom: 30px;

        .evidence:hover,
        .podcast:hover,
        .rankings:hover,
        .genres:hover,
        .new:hover,
        .find:hover {
          color: var(--sp-litgher-color);
          cursor: pointer;
        }
        li {
          margin: 0 10px;
          color: var(--sp-color-text);
          font-size: 0.7rem;
          padding: 5px 0;
        }

        .evidence:after {
          content: "";
          display: block;
          width: 30px;
          height: 3px;
          background: var(--sp-border-selected);
          text-align: center;
          margin-left: 20px;
          margin-top: 5px;
        }
      }

      overflow-y: auto;

      .recently-played {
        .recently-played-title {
          margin: 10px;
        }

        .heavy-metal {
          position: relative;

          .fa-circle-play {
            width: 90px;
            height: 90px;
            display: none;
          }
        }

        .heavy-metal:hover {
          .fa-circle-play {
            display: block;
            content: \f144;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
          }
        }

        .stranger {
          position: relative;

          .fa-circle-play {
            width: 90px;
            height: 90px;
            display: none;
          }
        }

        .stranger:hover {
          .fa-circle-play {
            display: block;
            content: \f144;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
          }
        }
        .quiet {
          position: relative;

          .fa-circle-play {
            width: 90px;
            height: 90px;
            display: none;
          }
        }

        .quiet:hover {
          .fa-circle-play {
            display: block;
            content: \f144;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
          }
        }
        .split {
          position: relative;

          .fa-circle-play {
            width: 90px;
            height: 90px;
            display: none;
          }
        }

        .split:hover {
          .fa-circle-play {
            display: block;
            content: \f144;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
          }
        }
        .cure {
          position: relative;

          .fa-circle-play {
            width: 90px;
            height: 90px;
            display: none;
          }
        }

        .cure:hover {
          .fa-circle-play {
            display: block;
            content: \f144;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
          }
        }
        .sinister {
          position: relative;

          .fa-circle-play {
            width: 90px;
            height: 90px;
            display: none;
          }
        }

        .sinister:hover {
          .fa-circle-play {
            display: block;
            content: \f144;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
          }
        }

        .recently-played-music {
          display: flex;
          flex-wrap: wrap;
          text-align: center;

          figcaption {
            margin: 5px 0;

            h5 {
              margin: 5px 0;
              font-size: 0.8rem;
            }
          }

          p {
            color: var(--sp-color-text);
            font-size: 0.6rem;
          }
        }
      }
      .created-for {
        margin: -1rem;
        .created-for-title {
          margin: 10px;
        }

        p {
          color: var(--sp-color-text);
          font-size: 0.7rem;
          margin: 10px;
        }

        .created-for-music {
          display: flex;
          flex-wrap: wrap;
          text-align: center;

          figcaption {
            margin: 5px 0;

            h5 {
              margin: 5px 0;
              font-size: 0.8rem;
            }
          }

          p {
            color: var(--sp-color-text);
            font-size: 0.6rem;
          }
        }
      }

      .popular-artists {
        margin: -1rem;
        .popular-artists-title {
          margin: 10px;
        }
        p {
          color: var(--sp-color-text);
          font-size: 0.7rem;
          margin: 10px;
        }

        .popular-artists-music {
          display: flex;
          flex-wrap: wrap;
          text-align: center;

          figcaption {
            margin: 5px 0;

            h5 {
              margin: 5px 0;
              font-size: 0.8rem;
            }
          }

          p {
            color: var(--sp-color-text);
            font-size: 0.6rem;
          }

          img {
            border-radius: 50%;
          }
        }
      }
    }

    .navtop {
      display: flex;
      flex-direction: row-reverse;
      align-items: center;

      button {
        width: 200px;
        height: 40px;
        padding: 10px;
        border-radius: 50px;
        background-color: var(--sp-top-navtop);
        color: var(--sp-litgher-color);
        border: 1px solid var(--sp-litgher-color);
        text-transform: uppercase;
      }
    }
  }
  .bottom-player {
    height: 80px;
    background-color: var(--sp-bottom-player);
    display: flex;
    justify-content: space-between;
    align-items: center;

    .information {
      display: flex;
      figure {
        display: flex;
        align-items: center;
        figcaption {
          margin: 5px;
          h6 {
            color: var(--sp-litgher-color);
          }

          p {
            font-size: 0.6rem;
            color: var(--sp-color-text);
          }
        }
      }

      .folded-and-favourite {
        display: flex;
        flex-wrap: wrap;
        color: var(--sp-color-text);
        align-items: center;
        justify-content: center;
      }
    }
    img {
      height: 40px;
      margin-left: 10px;
    }

    .folded-and-favourite {
      display: flex;
      gap: 10px;
    }
    .player {
      display: flex;
      flex-direction: column;
      color: var(--sp-color-text);
      position: relative;

      .music-buttons {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 15px;

        .player-time {
          display: flex;
          flex-wrap: nowrap;
        }
      }
      .progressive-bar-player {
        margin-top: 10px;
        border-bottom: 2px solid var(--sp-color-text);
      }

      .progressive-bar-player:after {
        content: "";
        display: inline-block;
        margin-top: 5px;
        border-radius: 2px;
        width: 30%;
        height: 4px;
        background: var(--sp-litgher-color);
        position: absolute;
        top: 20px;
        left: 0;
      }
    }

    .volume {
      display: flex;
      align-items: center;
      gap: 10px;
      color: var(--sp-color-text);
      padding-right: 10px;
      position: relative;

      .progressive-bar-volume {
        width: 80px;
        border: 1px solid var(--sp-color-text);
        border-radius: 2px;
      }

      .progressive-bar-volume:after {
        content: "";
        display: block;
        margin-top: 5px;
        border-radius: 2px;
        width: 25px;
        height: 4px;
        background: var(--sp-litgher-color);
        position: absolute;
        top: 1px;
        left: 83px;
      }
    }
  }
}

/* Tablet Mode */
@media screen and (max-width: 768px) {
  .container {
    width: 85%;
    margin: auto;
  }
  .recently-played {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -1rem;
  }
  [class^="col-"] {
    padding: 1rem;
  }

  .col-tb-2 {
    width: calc(100% / 12 * 2);
  }

  .col-tb-3 {
    width: calc(100% / 12 * 3);
  }

  .col-tb-6 {
    width: 50%;
  }
}

/* Large Mobile Mode */
@media screen and (max-width: 576px) {
  .container {
    width: 85%;
    margin: auto;
  }
  .recently-played {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -1rem;
  }
  [class^="col-"] {
    padding: 1rem;
  }

  .col-s-2 {
    width: calc(100% / 12 * 2);
  }

  .col-s-3 {
    width: calc(100% / 12 * 3);
  }

  .col-s-6 {
    width: 50%;
  }
}

/* Mobile Mode */
@media screen and (max-width: 480px) {
  .container {
    width: 85%;
    margin: auto;
  }
  .recently-played {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -1rem;
  }
  [class^="col-"] {
    padding: 1rem;
  }

  .col-s-2 {
    width: calc(100% / 12 * 2);
  }

  .col-s-3 {
    width: calc(100% / 12 * 3);
  }

  .col-s-6 {
    width: 50%;
  }

  .wrapper {
    .top {
      .navleft {
        width: 50px;
        .logo-large {
          display: none;
        }

        .logo-small {
          display: block;
        }
        span,
        .playlist-list {
          display: none;
        }

        .download {
          margin-left: 15px;
          margin-bottom: 10px;
        }

        .profile {
          border: none;

          .profile-img {
            height: 15px;
            width: 15px;
            margin-left: 2px;
          }
        }
      }
      .music-selection-top {
        width: calc(100% - 50px);
      }
    }

    .progressive-bar-volume {
      display: none;
    }

    .progressive-bar-volume:after {
      display: none;
    }
  }
}
